{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'product_view' product.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить товар "{{ product.name }}" ({{ product.get_category_display }})?</h1>
    <form action="{% url "product_delete" product.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'product_view' product.pk %}">Отмена</a></p>
    </form>
{% endblock %}
