{% extends 'base.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <table class="cart-table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>
                        <a href="{% url 'product_view' item.product.pk %}">{{ item.product.name }}</a>
                        (<a href="{% url 'cart_delete_one' item.pk %}">Удалить Один</a>,
                        <a href="{% url 'cart_delete' item.pk %}">Удалить Все</a>)
                    </td>
                    <td class="text-right">{{ item.product.price }}</td>
                    <td class="text-right">{{ item.qty }}</td>
{#                    <td class="text-right">{{ item.get_total }}</td> #}
{#                    при запросе с annotate #}
                    <td>{{ item.total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3" class="text-right">Итого</th>
                <th class="text-right">{{ cart_total }}</th>
            </tr>
        </tbody>
    </table>
    <h3>Оформить заказ:</h3>
    {% url 'order_create' as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method='post' button_text='Оформить заказ' %}
{% endblock %}
